<% layout('layouts/boilerplate') %>

<h1><%= title %></h1>
<form action="/admin/maintenance?_method=PATCH" class="form box" method="POST">
    <div class="form-element">
        <label for="message">Boodschap</label>
        <textarea name="message" id="message" cols="30" rows="10"><%= message %></textarea>
    </div>


    <button class="btn btn-pri mt3">Bewaren</button>
</form>
