<div class="modal invisible" id="cookies-modal">
    <section class="cookies-consent box">
        <h2>Wij gebruiken cookies</h2>
        <p>Wij maken gebruik van essentiële cookies om deze website te laten werken. Dit zijn strikt noodzakelijke cookies die niet van derde partijen komen en niet worden gedeeld. Lees meer hierover in onze <a href="/disclaimer">disclaimer</a>.</p>
        <a href="" class="cta cookies-accept">Ik heb het begrepen</a>
    </section>
</div>