<% if (success && success.length) { %>
    <div class="alert success" role="alert">
        <%= success %>
        <button class="alert-close" aria-label="close">
            <img src="/assets/icons/alert-close.svg" alt="">
        </button>
    </div>
<% } %>

<% if (error && error.length) { %>
    <div class="alert error" role="alert">
        <%= error %>
        <button class="alert-close" aria-label="close">
            <img src="/assets/icons/alert-close.svg" alt="">
        </button>
    </div>
<% } %>



<script>
    if (document.querySelector('.alert-close') !== null) {
        const closeAlert = document.querySelector('.alert-close');
        closeAlert.addEventListener('click', () => {
            const alert = document.querySelector('.alert');
            alert.style.display = 'none';
        });
    }
</script>