<% if(modalComms && modalComms.length) { %>
<div class="modal">
    <div class="warning box" role="alert" aria-live="polite">
        <form action="/<%= modalComms[0].accountId %>/communicatie?_method=PATCH" method="POST">
            <label for="toggle">
                <p><strong>Mag ik jou af en toe e-mails sturen?</strong></p>
            </label>    
            <div class="form-element mt3">
                <label class="toggle">
                    <input type="checkbox" name="updates" id="toggle" class="toggle-input" <%= modalComms[0].wantsComm ? 'checked' : '' %> />
                    <span class="toggle-display" hidden>
                        <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="toggle-icon toggle-icon-checkmark">
                            <path d="M6.08471 10.6237L2.29164 6.83059L1 8.11313L6.08471 13.1978L17 2.28255L15.7175 1L6.08471 10.6237Z" fill="currentcolor" stroke="currentcolor" />
                        </svg>
                        <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="toggle-icon toggle-icon-cross">
                            <path d="M11.167 0L6.5 4.667L1.833 0L0 1.833L4.667 6.5L0 11.167L1.833 13L6.5 8.333L11.167 13L13 11.167L8.333 6.5L13 1.833L11.167 0Z" fill="currentcolor" />
                        </svg>
                    </span>
                </label>
            </div>
            <div class="form-btns">
                <button class="btn btn-pri">Bewerken</button>
                <a href="/<%= modalComms[0].accountId %>" class="cta">Annuleren</a>
            </div>
        </form>
    </div>
</div>

<script>
    scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    scrollLeft = window.pageXOffset || document.documentElement.scrollLeft,

    window.onscroll = function() {
        window.scrollTo(scrollLeft, scrollTop);
    };
</script>
<% } else { %>
    <script>
        window.onscroll = null;
    </script>
<% } %>