<% layout('layouts/boilerplate') %>
    

    <h1><%= title %></h1>

    <section class="dash-element tiles-section tiles-bloodpressure" aria-label="Bloeddruk">
        <h2>Bloeddruk</h2>
        <div class="tiles">
            <a href="/<%= persoonId %>/bloeddruk/nieuw" class="btn btn-tile"><img src="/assets/tile-icons/bloeddruk-meting.png" alt=""><span>Meting invoeren</span></a>
            <a href="/<%= persoonId %>/bloeddruk/raadplegen" class="btn btn-tile"><img src="/assets/tile-icons/metingen-raadplegen.png" alt=""><span>Metingen raadplegen</span></a>
            <a href="/<%= persoonId %>/bloeddruk/downloadentest" class="btn btn-tile">test</a>
        </div>
    </section>