<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <!--  <%- // include('../partials/title') %> -->
    <title>medipas</title>
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <div class="navbar-brand">
                    <p>image</p>
                </div>
                <div class="navbar-user">
                    <p>Register</p>
                    <p>Logout</p>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <%- body %>
        </div>
    </main>
</body>
</html>