<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Met medilogs kan je jouw bloeddruk metingen bewaren en raadplegen op elk moment.">
    <meta property="og:title" content="medilogs - Jouw medisch dagboek" />
    <meta property="og:description" content="Hou je vinger aan de pols met medilogs. Bewaar en raadpleeg bloeddruk metingen op elk moment" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.medilogs.be/" />
    <meta property="og:image" content="/assets/landing/raadplegen.png" />
    <meta property="og:locale" content="nl_BE" />
    <meta name="robots" content="index, follow">
    <title>medilogs - Jouw medisch dagboek</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&display=swap" rel="stylesheet" crossorigin> 
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/assets/favicon/favicon.ico" sizes="any">
    <link rel="icon" href="/assets/favicon/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <meta name="theme-color" content="#4a4a4a">
</head>
<body>
    <%- include('./partials/cookies') %>

    <header>
        <div class="container">
            <nav>
                <div class="nav-brand">
                    <img src="/assets/logo/medilogs_white.svg" alt="">
                </div>
                <div class="nav-menu">
                    <% if(!currentUser) { %>
                        <a href="/aanmelden" class="btn btn-pri focus-red">Aanmelden</a>
                        <a href="/registreren" class="btn btn-sec focus-red">Registreren</a>
                    <% } else { %>
                        <a href="<%= `/${currentUser.patienten[0]._id}/dashboard` %>" class="btn btn-pri focus-red">Dashboard</a>
                        <a href="/afmelden" class="btn btn-sec focus-red">Afmelden</a>
                    <% } %>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <section class="hero">
                <div class="hero-body">
                    <h1>Over medilogs</h1>
                    <p>medilogs is een tool waarbij je op een eenvoudige manier jouw <strong>bloeddruk kan bewaren en raadplegen</strong>. In de toekomst willen we het ook mogelijk maken om een medicatieschema bij te houden en jouw medicijnenkast te beheren.</p>
                </div>
                <div class="hero-image">
                    <img src="/assets/landing/hero-image.svg" alt="">
                </div>
            </section>
            <section class="cta-bar">
                <% if(!currentUser) { %>
                    <h2>Maak nu een account aan</h2>
                    <a href="/registreren" class="cta focus-red">Registreren</a>
                <% } else { %>
                    <h2>Ga naar jouw dashboard</h2>
                    <a href="<%= `/${currentUser.patienten[0]._id}/dashboard` %>" class="cta focus-red">Dashboard</a>
                <% } %>
            </section>
            <section class="feature">
                <div class="feature-body">
                    <h2>Bloeddruk metingen</h2>
                    <p>Via deze website kan je jouw bloeddruk opslaan en raadplegen op elk moment. Bekijk de laatste 7 of 30 metingen in een handig overzicht. Of download alle metingen van het voorbije jaar als excel-bestand.</p>
                </div>
                <div class="feature-image">
                    <img src="/assets/landing/hero-blood.svg" alt="">
                </div>
            </section>
            <section class="feature">
                <div class="feature-body">
                    <h2>Koppel meerdere personen</h2>
                    <p>Meet je soms voor andere personen de bloeddruk? Zij hoeven <strong>geen afzonderlijk account</strong> aan te maken. Je kan tot drie personen koppelen aan jouw account en voor hen metingen bewaren. Op termijn kan dat aantal uitgebreid worden.</p>
                </div>
                <div class="feature-image">
                    <img src="/assets/landing/hero-people.svg" alt="">
                </div>
            </section>
            <section class="feature">
                <div class="feature-body">
                    <h2>De data is van jou</h2>
                    <p>Jouw data wordt bewaard op Europese servers en in een eigen database. Wij gebruiken jouw data niet en verkopen deze ook niet door. Ook jouw wachtwoord wordt geëncrypteerd bewaard om jouw veiligheid te garanderen.</p>
                </div>
                <div class="feature-image">
                    <img src="/assets/landing/hero-private.svg" alt="">
                </div>
            </section>
        </div>
    </main>
    <footer>
        <section>
            <a href="/disclaimer" class="disclaimer">Disclaimer</a>
        </section>
    </footer>

    <script src="/js/cookies-consent.js"></script>

</body>
</html>