<% layout('layouts/boilerplate.ejs') %>
    
<h1><%= title %></h1>

<section class="tiles-home">
    <h2>Bloeddruk</h2>
    <div class="tiles">
        <a href="#" class="btn btn-tile">Invoeren</a>
        <a href="#" class="btn btn-tile">Raadplegen</a>
    </div>
</section>