:root {
  --clr-pri-red: hsl(1, 100%, 71%);
  --fnt-nun-san: 'Nunito Sans', sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--fnt-nun-san);
}

img {
  object-fit: contain;
}

body {
  background-color: rgb(248, 248, 248);
}

/* GENERAL STUFF */

.hint {
  font-size: 1.2rem;
  margin-top: 0.3rem;
  color: rgba(0, 0, 0, 0.75);
}

.highlight {
  color: var(--clr-pri-red);
}

.btn {
  font-family: var(--fnt-nun-san);
  max-width: 250px;
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1.5rem 2.5rem;
  cursor: pointer;
  border-radius: 0.6rem;
  font-weight: bold;
  transition: background-color 320ms ease-in-out, border 320ms ease-in-out,
    color 320ms ease-in-out;
}

.btn-pri {
  color: white;
  background-color: var(--clr-pri-red);
  border: 1px solid var(--clr-pri-red);
}

.btn-pri:hover {
  color: var(--clr-pri-red);
  background-color: white;
}

.btn-sec {
  border: 1px solid var(--clr-pri-red);
  color: var(--clr-pri-red);
  background-color: transparent;
}

.btn-sec:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-whi {
  background-color: white;
  color: var(--clr-pri-red);
  border: 1px solid white;
}

.btn-whi:hover {
  background-color: var(--clr-pri-red);
  color: white;
}

.cta {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--clr-pri-red);
}

.cta:hover {
  text-decoration: underline;
}

.mt3 {
  margin-top: 3rem;
  display: block;
}

.block {
  display: block;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.hide-mobile {
  display: none;
}

.alert {
  margin: 1.7rem 0;
  padding: 2rem 1rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  color: white;
}

.error {
  background: rgba(240, 70, 70, 0.8);
  border: 1px solid var(--clr-pri-red);
}

.success {
  background: rgba(89, 164, 106, 0.8);
  border: 1px solid rgb(89, 164, 106);
}

.alert button {
  position: absolute;
  top: 50%;
  right: 1.2rem;
  transform: translateY(-50%);
  width: 2.4rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.alert button:hover {
  filter: opacity(60%);
}

.modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: grid;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.warning {
  font-size: 1.6rem;
}

.warning .form-btns {
  margin-top: 3rem;
}

.warning-date {
  font-weight: 700;
}

/* END OF GENERAL STUFF */

.admin-bar,
.maintenance-bar {
  position: relative;
  left: var(--width);
  width: calc(100% - var(--width));
}

.admin-bar {
  /* display: none; */
  top: 0;
  background-color: black;
  font-size: 1.6rem;
}

.admin-bar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.admin-bar ul li {
  list-style: none;
  padding: 1.6rem;
}

.admin-bar ul li a {
  color: white;
  text-decoration: none;
}

.admin-bar ul li a:hover {
  text-decoration: underline;
}

.maintenance-bar {
  display: none;
  text-align: center;
  font-weight: 700;
  font-size: 1.6rem;
  background-color: rgb(235, 203, 46);
}

.maintenance-bar .container {
  padding-bottom: 1.7rem;
}

main {
  position: relative;
  top: 0;
  left: var(--width);
  width: calc(100% - var(--width));
}

.container {
  padding: 10rem 1.7rem 3rem;
}

h1 {
  color: var(--clr-pri-red);
  font-size: 3.6rem;
  word-wrap: break-word;
}

h1 {
  padding-top: 0;
}

html[style*='--width:30rem'] h1,
html[style*='--width: 30rem'] h1 {
  padding-top: 1.9rem;
}

h2 {
  color: var(--clr-pri-red);
  font-size: 2.7rem;
  word-wrap: break-word;
}

p {
  font-size: 1.6rem;
}

.box {
  background-color: white;
  padding: 4.2rem 2.8rem;
  box-shadow: 0px 7px 29px rgba(100, 100, 111, 0.2);
  border-radius: 0.6rem;
  margin-top: 3rem;
}

.bloodpressure-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.form label {
  display: block;
  font-weight: 700;
  padding-left: 0.3rem;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.form input,
.form select {
  height: 4rem;
  width: 100%;
  border-radius: 0.6rem;
  border: 1px solid black;
  font-size: 1.6rem;
  font-family: var(--fnt-nun-san);
  padding: 0rem 0.5rem;
}

.form textarea {
  width: 100%;
  font-size: 1.6rem;
  font-family: var(--fnt-nun-san);
  padding: 0rem 0.5rem;
}

.form-element {
  width: 100%;
}

#hartslag:placeholder-shown {
  background-image: none;
}

.form-element input:valid {
  background-image: url('../assets/icons/check.png');
  background-size: 2.3rem;
  background-color: var(--clr-pur-whi);
  background-repeat: no-repeat;
  background-position: 98% 50%;
}

/* there are better ways, but I want to avoid a checkmark at the aanmelden screen */
.aanmelden .aanmelden-box .form .form-element input:valid {
  background-image: none;
}

.select-element {
  position: relative;
}

.select {
  position: relative;
}

.select::after {
  content: '';
  position: absolute;
  display: block;
  border: 3px solid var(--clr-pri-red);
  border-right: 0;
  border-top: 0;
  border-radius: 0.2rem;
  transform: rotate(-45deg);
  transform-origin: center;
  height: 1.25rem;
  width: 1.25rem;
  margin-top: -1rem;
  top: 50%;
  right: 1.2rem;
  pointer-events: none;
}

.select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  cursor: pointer;
}

.date-input,
.date-time {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.form-btns {
  display: flex;
  gap: 1.7rem 3rem;
  flex-wrap: wrap;
  align-items: center;
}

.results-settings {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

#results-settings {
  margin-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1.6rem;
  border-bottom: 1px solid var(--clr-pri-red);
}

.filter-days .filter-element {
  margin: 1.7rem 0;
}

.filter-days label {
  padding-left: 1rem;
}

.results-sort {
  margin-top: 3rem;
}

.results-sort .sort-element {
  margin: 1.7rem 0 3rem;
}

#select-sort {
  height: 4rem;
  padding: 0 0.5rem;
}

#results-settings .btn {
  width: 100%;
}

.title-with-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.title-with-icon .icon {
  cursor: pointer;
  width: 2rem;
}

.gemiddelden {
  display: grid;
  gap: 1.7rem;
  grid-template-columns: 1fr;
  text-align: center;
  margin-top: 2rem;
}

.gemiddelden h3 {
  text-transform: uppercase;
  color: var(--clr-pri-red);
  font-weight: 400;
  font-size: 2.2rem;
}

.stats-num {
  font-weight: 700;
  font-size: 2.7rem;
}

.stats-desc {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.2rem;
}

#table-results,
#users-table {
  margin-top: 1.7rem;
  font-size: 1.6rem;
  border-collapse: collapse;
  text-align: left;
  word-wrap: break-word;
}

#table-results thead,
#users-table thead {
  background-color: var(--clr-pri-red);
  color: white;
}

#table-results th,
#users-table th,
#table-results td,
#users-table td {
  padding: 2rem 1.3rem;
}

#table-results tbody tr,
#users-table tbody tr {
  border-bottom: 1px solid var(--clr-pri-red);
}

.aanmelden,
.registreren {
  left: 0;
  width: unset;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.aanmelden-box {
  margin: 0;
  margin: 1.7rem 0;
  padding: 0;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr;
}

.account {
  display: flex;
  flex-direction: column;
}

.account {
  padding: 3rem 1.7rem;
}

.registreren .box {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
}

.account h1,
.registreren h1 {
  margin-bottom: 3rem;
}

.account .form-element,
.registreren .form-element {
  margin-bottom: 2rem;
}

.account .password-container,
.registreren .password-container {
  position: relative;
}

.account .password-eye,
.registreren .password-eye {
  width: 4rem;
  position: absolute;
  display: block;
  height: 4rem;
  left: 0;
  top: 0;
  padding: 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem 0 0 0.6rem;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#password {
  padding-left: 4.5rem;
}

.account .btn,
.registreren .btn {
  align-self: center;
  margin-top: 3rem;
}

.no-account {
  background-color: var(--clr-pri-red);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 1.7rem;
}

.no-account h2 {
  color: white;
  margin-bottom: 1.5rem;
  text-align: center;
}

.no-account p {
  text-align: center;
}

.no-account .btn {
  align-self: center;
  margin-top: 3rem;
}

.registreren .btn {
  margin-bottom: 3rem;
}

.dash-box {
  padding-top: 1.7rem;
}

.dash-date {
  color: rgba(0, 0, 0, 0.5);
}

.dash-stats {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  text-align: center;
}

.dash-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
}

.dash-link {
  display: inline-flex;
  width: 100%;
  font-size: 1.6rem;
  gap: 2.1rem;
  align-items: center;
  text-decoration: none;
}

.dash-link-icon {
  width: 2.4rem;
  transition: filter 230ms ease-in-out;
}

.dash-links .btn {
  width: 100%;
}

.dash-links .btn-whi {
  border-color: var(--clr-pri-red);
}

.dash-links .btn-whi .dash-link-icon {
  filter: invert(50%) sepia(28%) saturate(3377%) hue-rotate(325deg)
    brightness(123%) contrast(110%);
}

.dash-links .btn-whi:hover .dash-link-icon {
  filter: none;
}

.dash-links .btn-pri:hover .dash-link-icon {
  filter: invert(50%) sepia(28%) saturate(3377%) hue-rotate(325deg)
    brightness(123%) contrast(110%);
}

.account-gegeven {
  margin: 1rem 0;
  display: flex;
  gap: 0.3rem;
}

.account-gegeven:first-of-type {
  margin-top: 3rem;
}

.account-gegeven label {
  width: 30rem;
}

#cookies-modal p {
  margin: 3rem 0;
}

/* toggle mails */
/* SOURCE: https://kittygiraudel.com/2021/04/05/an-accessible-toggle/ */
.toggle {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  gap: 1ch;
}

.toggle p {
  margin-bottom: 0.7rem;
}

.toggle-display {
  --offset: 0.25em;
  --diameter: 1.8em;

  display: inline-flex;
  align-items: center;
  justify-content: space-around;

  width: calc(var(--diameter) * 2 + var(--offset) * 2);
  height: calc(var(--diameter) + var(--offset) * 2);
  box-sizing: content-box;

  border: 0.1em solid rgb(0 0 0 / 0.2);

  position: relative;
  border-radius: 100%;
  border-radius: 100px;
  background-color: #e74c3c;

  transition: 250ms;
  cursor: pointer;
}

.toggle-display::before {
  content: '';

  width: var(--diameter);
  height: var(--diameter);
  border-radius: 50%;

  box-sizing: border-box;
  border: 0.1 solid rgb(0 0 0 / 0.2);

  position: absolute;
  z-index: 2;
  top: 50%;
  left: var(--offset);
  transform: translate(0, -50%);

  background-color: white;
  transition: inherit;
}

@media (prefers-reduced-motion: reduce) {
  .toggle-display {
    transition-duration: 0ms;
  }
}

.toggle-input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.toggle-input:focus + .toggle-display {
  outline: 1px dotted #212121;
  outline: 1px auto -webkit-focus-ring-color;
}

.toggle-input:focus:not(:focus-visible) + .toggle-display {
  outline: 0;
}

.toggle-input:checked + .toggle-display {
  background-color: #1fb978;
}

.toggle-input:checked + .toggle-display::before {
  transform: translate(100%, -50%);
}

.toggle-input:disabled + .toggle-display {
  opacity: 0.6;
  filter: grayscale(40%);
  cursor: not-allowed;
}

.toggle-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: var(--clr-pur-whi);
  fill: currentcolor;
  vertical-align: middle;
}

.toggle-icon-cross {
  font-size: 85%;
}

/* end of toggle mails */

@media screen and (min-width: 750px) {
  .container {
    padding-top: 1.2rem;
  }

  .date-input,
  .date-time {
    grid-template-columns: repeat(2, 1fr);
  }

  .results-settings {
    flex-direction: row;
    justify-content: space-between;
  }

  #results-settings-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.7rem;
  }

  .results-sort {
    margin: 0;
  }

  .gemiddelden {
    grid-template-columns: repeat(3, 1fr);
  }

  .gemiddelden h3 {
    grid-column: 1/4;
  }

  .aanmelden-box {
    display: grid;
    grid-template-columns: 10fr 9fr;
    align-items: stretch;
    max-width: 800px;
  }

  .dash-stats {
    grid-template-columns: repeat(3, 1fr);
  }

  .dash-links {
    flex-direction: row;
    gap: 6rem;
  }

  .hide-mobile {
    display: block;
  }
}

@media screen and (min-width: 1040px) {
  .bloodpressure-form {
    grid-template-columns: repeat(2, 1fr);
  }

  .filter-days {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    gap: 3rem;
  }

  .date-input,
  .date-time {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/3;
  }

  .registreren .box {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
  }

  .registreren h1,
  .registreren .btn {
    grid-column: 1/3;
  }
}

*:focus:not(.focus-visible) {
  outline: none;
}

.focus-red:focus-visible {
  outline: var(--clr-pri-red) solid 3px;
}

.invisible {
  display: none;
}

@media screen and (max-width: 900px) {
  /* Force table to not be like tables anymore */
  #table-results,
  #table-results thead,
  #table-results tbody,
  #table-results th,
  #table-results td,
  #table-results tr,
  #users-table,
  #users-table thead,
  #users-table tbody,
  #users-table th,
  #users-table td,
  #users-table tr {
    display: block;
  }

  #table-results.invisible {
    display: none;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  #table-results thead tr,
  #users-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #table-results tr,
  #users-table tr {
    margin: 0 0 1rem 0;
  }

  #table-results td,
  #users-table td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 50%;
  }

  #table-results td:before,
  #users-table td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 6px;
    width: 45%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    white-space: nowrap;
    color: var(--clr-pri-red);
    font-weight: 700;
  }

  /*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
  #table-results td:nth-of-type(1):before {
    content: 'Bovendruk';
  }
  #table-results td:nth-of-type(2):before {
    content: 'Onderdruk';
  }
  #table-results td:nth-of-type(3):before {
    content: 'Hartslag';
  }
  #table-results td:nth-of-type(4):before {
    content: 'Tijdstip';
  }
  #table-results td:nth-of-type(5):before {
    content: 'Bewerken';
  }

  #users-table td:nth-of-type(1):before {
    content: 'E-mail';
  }
  #users-table td:nth-of-type(2):before {
    content: 'Voornaam';
  }
  #users-table td:nth-of-type(3):before {
    content: 'Familienaam';
  }
  #users-table td:nth-of-type(4):before {
    content: 'Laatste login';
  }
  #users-table td:nth-of-type(5):before {
    content: 'Verwijderen';
  }
}
