:root {
  --fnt-nun-san: 'Nunito Sans', sans-serif;
  --clr-pri-red: hsl(1, 100%, 71%);
  --clr-pri-pur: hsl(263, 57%, 9%); /* was hsl(262, 49%, 14%); */
  --clr-hue-red: hsla(1, 100%, 71%, 0.25);
  --clr-hue-pur: hsla(263, 57%, 9%, 0.7); /* was hsl(262, 49%, 14%); */
  --clr-off-whi: hsl(0, 40%, 96%);
  --clr-pur-whi: hsl(45, 29%, 97%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--fnt-nun-san);
}

/* GENERAL */
body {
  height: 100vh;
  background-color: var(--clr-off-whi);
}

.container {
  max-width: 1400px;
  width: 75%;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.btn {
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1.4rem 3.6rem;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 230ms, border 230ms, color 230ms;
}

.btn:focus {
  outline-offset: 0.5rem;
  outline: var(--clr-pri-red) solid 3px;
}

@supports selector(:focus-visible) {
  .btn:focus {
    outline-offset: 0rem;
    outline: transparent none 0px;
  }

  .btn:focus-visible {
    outline-offset: 0.5rem;
    outline: var(--clr-pri-red) solid 3px;
  }
}

.btn-pri,
.btn-form {
  border: 1px solid var(--clr-pri-red);
  background-color: var(--clr-pri-red);
  color: hsl(0, 0%, 100%);
}

.btn-pri:hover,
.btn-form:hover {
  background-color: var(--clr-hue-red);
  color: var(--clr-pri-red);
}

.btn-sec {
  border: 1px solid var(--clr-pri-pur);
  background-color: transparent;
  color: var(--clr-pri-pur);
}

.btn-sec:hover {
  background-color: var(--clr-hue-pur);
  color: white;
}

.btn-tile {
  border: 1px solid var(--clr-hue-pur);
  background-color: transparent;
  color: var(--clr-pri-pur);
  font-weight: 700;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; */
  transition: transform 230ms;
}

.btn-tile:hover {
  transform: scale(1.1);
}

h1 {
  font-size: 2.8rem;
  margin: 1.4em 0 1.4em 0.5em;
}

h2 {
  font-size: 2.4rem;
  margin: 1.2em 0;
}

.highlight {
  color: var(--clr-pri-red);
}

.subtle-shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
/* END OF GENERAL */

/* BOILERPLATE */
header nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

header nav a + a {
  margin-left: 10px;
}

.tiles-section {
  padding: 5rem 2.5rem;
  margin-bottom: 2.5rem;
  background-color: var(--clr-pur-whi);
  border-radius: 3rem;
}

.tiles-section:first-of-type {
  padding-top: 2.5rem;
}

.tiles-section h2 {
  margin: 0 0 1.2em;
  padding-left: 0.3em;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

/* END OF BOILERPLATE */

/* FLASH MESSAGES */
.alert {
  font-size: 1.6rem;
  height: 5.4rem;
  padding: 1.5rem 1rem;
  border-radius: 0.75rem;
  margin: 7rem 0;
  color: var(--clr-off-whi);
  position: relative;
}

.is-success {
  background-color: #2e7d32;
}

.is-error {
  background-color: #c62828;
}

.alert-close {
  background-color: transparent;
  border: none;
  color: white;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 4.4rem;
  height: 4.4rem;
  cursor: pointer;
  transition: opacity 230ms ease-in-out;
}

.alert-close:hover {
  opacity: 0.7;
}

@supports selector(:focus-visible) {
  .alert-close:focus {
    outline-offset: 0rem;
    outline: transparent none 0px;
  }

  .alert-close:focus-visible {
    outline-offset: 0.5rem;
    outline: var(--clr-pri-red) solid 3px;
  }
}

.fade-out {
  animation: fadeOut 5s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* END OF FLASH MESSAGES */

/* FORMS */
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-form {
  max-width: 650px;
  margin: 7rem auto 0;
  background-color: var(--clr-pur-whi);
  padding: 5rem 2.5rem;
  border-radius: 1rem;
}

.input-form h1 {
  margin: 1rem 0;
  margin-top: 1rem;
}

.form-element label,
.form-element input {
  display: block;
  width: 100%;
  font-size: 1.6rem;
}

.form-element label {
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}

.form-element input,
.form .btn-form,
.form-date-element input,
.form-date-element select {
  height: 6rem;
}

.form-element input,
.form-date-element input,
.form-date-element select {
  padding: 0 0.7rem;
  font-family: var(--fnt-nun-san);
  border-radius: 0.6rem;
  border: 1px solid var(--clr-pri-pur);
}

.form-element input:focus,
.form-date-element input:focus,
.form-date-element select:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.form-element input:valid {
  background: url('../assets/check.png');
  background-repeat: no-repeat;
  background-position: 98% 50%;
}

.form-element input[type='number']:valid {
  background-position: 94% 50%;
}

.form-element .form-alert {
  display: none;
}

.form-element input:invalid:focus:not(:placeholder-shown) ~ .form-alert {
  color: red;
  font-size: 1.2rem;
  display: block;
  margin-top: 0.5rem;
}

.form .btn-form {
  margin-top: 4rem;
  border-radius: 0.6rem;
}

/* END OF FORMS */

/* USER FORMS */

.form .already-user {
  margin: 2rem 0 0;
  font-size: 1.6rem;
}

.form .already-user a {
  text-decoration: none;
  color: var(--clr-pri-red);
}

.form .already-user a:hover {
  text-decoration: underline;
}

/* END OF USER-FORMS */

/* DATE FORM ELEMENTS  */

.form-date-element label,
.form-date-element input,
.form-date-element select {
  display: inline-block;
  font-size: 1.6rem;
  /* border: 1px solid red; */
  padding: 0 0.5rem;
}

.form-date-element select {
  background-color: white;
}

.form-date-element label,
.form-date-element input,
.form-date-element select {
  margin-right: 1.3rem;
}

.date-labels {
  margin-bottom: 0.5rem;
}

.date-labels,
.date-input {
  display: grid;
  grid-template-columns: 9rem 18rem 9rem;
}

.date-input {
  margin-bottom: 2rem;
}

.form-date-element .date-time input {
  width: 7rem;
  margin-right: 0;
}

.form-date-element .date-time label {
  margin-left: 0;
  margin-right: 0;
}

/* END OF DATE FORM ELEMENTS  */
