<% layout('layouts/boilerplate') %>


<form class="form input-form user-form subtle-shadow" action="/registreren" class="form" method="POST">
    <h1><%= title %></h1>
    <div class="form-element">
        <label for="email">E-mailadres <span class="highlight">*</span></label>
        <input type="email" id="email" name="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" required>
    </div>
    <div class="form-element">
        <label for="voornaam">Voornaam <span class="highlight">*</span></label>
        <input type="text" id="voornaam" name="voornaam" pattern=".*\S.*" required>

    </div>
    <div class="form-element">
        <label for="familienaam">Familienaam <span class="highlight">*</span></label>
        <input type="text" id="familienaam" name="familienaam" pattern=".*\S.*" required>

    </div>
    <div class="form-element">
        <label for="wachtwoord">Kies een wachtwoord <span class="highlight">*</span></label>
        <div class="password-container">
            <input pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password" name="wachtwoord" id="password" required placeholder=" ">
            <span class="password-eye"><img src="/assets/eye.svg" id="toggle-password" alt=""></span>
            <span class="form-alert" role="alert">Het wachtwoord moet minstens 8 karakters bevatten, waarvan 1 hoofdletter, 1 kleine letter en minstens 1 getal.</span>
        </div>

    </div>

    <div class="form-element">
        <label for="registratiecode">Registratiecode <span class="highlight">*</span></label>
        <input type="text" id="registratiecode" name="registratiecode" pattern=".*\S.*" required>

    </div>

    <button class="btn btn-form">Registreren</button>

    <p class="already-user">Heeft u al een account? <a href="aanmelden">Aanmelden</a></p>

</form>

<script src="/js/userform.js"></script>