<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wachtwoord resetten | medilogs</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&display=swap" rel="stylesheet" crossorigin> 
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/assets/favicon/favicon.ico" sizes="any">
    <link rel="icon" href="/assets/favicon/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <meta name="theme-color" content="#4a4a4a">
</head>
<body>
    <%- include('../partials/cookies') %>
    <%- include('../partials/flash') %>


    <main class="aanmelden">

        <h1><%= title %></h1>

        <section class="box">
            <form action="/wachtwoord-reset" class="form account" method="POST">
                <div class="form-element">
                    <label for="email">E-mailadres</label>
                    <input type="email" name="email" id="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" required>
                </div>

                <div class="form-btns">
                    <button class="btn btn-pri">Wachtwoord resetten</button>
                    <a href="/" class="cta mt3">Annuleer</a>
                </div>

            </form>

        </section>
    </main>

<script src="/js/userform.js"></script>
<script src="/js/cookies-consent.js"></script>


</body>
</html>
