<% layout('layouts/boilerplate') %>

<h1><%= title %></h1>
<section class="box">

    <p>Binnen enkele ogenblikken wordt een excel-bestand gedownload met jouw metingen van het <strong>afgelopen jaar</strong></strong>. Even geduld a.u.b.</p>
    <p>Start het downloaden na <strong>30 seconden</strong> nog steeds niet? Probeer dan opnieuw:</p>

    <a href="/<%= patientId %>/bloeddruk/downloadbestand" class="cta mt3">Probeer opnieuw</a>

</section>

<script>
    setTimeout(() => {
        const patientId = <%- JSON.stringify(patientId) %>;
        window.location.href = `/${patientId}/bloeddruk/downloadbestand`;
    }, 1000);
 </script>