<% layout('layouts/boilerplate') %>
    

    <h1><%= title %></h1>

    <section class="section tiles-section tiles-consultation" aria-label="Metingen raadplegen">
        <div class="tiles">
            <a href="/<%= persoonId %>/bloeddruk/overzicht" class="btn btn-tile"><img src="/assets/tile-icons/bloeddruk-results.png" alt=""><span>Overzicht laatste metingen</span></a>
            <a href="/<%= persoonId %>/bloeddruk/downloaden" class="btn btn-tile"><img src="/assets/tile-icons/bloeddruk-download.png" alt=""><span>Metingen downloaden</span></a>
        </div>
    </section> 