<% layout('layouts/boilerplate') %>

<h1><%= title %></h1>
<section class="box">

    <p>Er zijn nog geen metingen geregistreerd</p>

    <div class="dash-links">
        <a class="dash-link btn btn-pri" href="/<%= patientId %>/bloeddruk/nieuw" title="Meting toevoegen">
            <img src="/assets/icons/toevoegen.svg" alt="" class="dash-link-icon">
            <span class="dash-link-text">Meting toevoegen</span>
        </a>
    </div>

</section>

