<% layout('layouts/boilerplate') %>

<section class="center-card subtle-shadow">
    <h1><%= title %></h1>

    <p>We hebben geen metingen gevonden.</p>
    <p>Voeg snel jouw eerste meting toe:</p>

    <a href="/<%= patientId %>/bloeddruk/nieuw" class="btn">Nieuwe meting</a>

</section>

